# KNN近邻（K-Nearest-Neighbors）教程

**Amazon Sagemaker内置分类以及回归算法之一**

---

1. [笔记本简介](#笔记本简介)
2. [基本设置](#基本设置)
   1. [数据加载](#数据加载)
   2. [数据预处理](#数据预处理)
   3. [数据上传](#数据上传)
3. [模型训练](#模型训练)
4. [模型推理](#模型推理)
5. [性能评估](#性能评估)
6. [资源回收](#资源回收)

# 笔记本简介
***
Amazon Sagemaker KNN从算法原理上讲是一个基于索引的算法。它使用非参数化方法来进行分类或回归。对于分类问题，算法查询最接近采样点的 k 个点，并返回其分类最常用的标签作为预测标签。对于回归问题，算法查询最接近采样点的 k 个点，并返回其特征值的平均值作为预测值。

本Notebook将使用Factorization Machines算法解决一个二分类的问题，数据集是由UCI机器学习存储库提供的公开可用的成人收入数据集。该数据集包括约48842名匿名成年人的人口统计信息，以及他们的收入分类(“>$ 50,000”或“<$ 50,000”)。本练习的目标是使用收入类别(incom_cat)作为目标变量，针对该数据训练FM模型。记录包含14个属性:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* income_cat:  2 income categories, either “>50K” or “<=50K”.

# 基本设置

本次笔记本中涉及的数据量不大，所以采用的是ml.c4.xlarge机型来进行模型的训练。
我们从指定数据存储桶和IAM角色开始：

* 指定要用于训练和存储模型数据的S3桶名以及前缀。S3的位置应该与Amazon Sagemaker服务位于同一Region。
* IAM角色用于提供对数据的训练和托管访问。有关如何创建IAM角色，请参阅Samemaker文档。注意，如果notebook实例、训练和托管需要多个角色，请使用相应IAM角色的ARN字符串进行替换。

In [1]:
bucket = 'gcr-sm-workshop-henanwan'
prefix = 'sagemaker/DEMO-knn-income'

In [2]:
import boto3
import re
from sagemaker import get_execution_role

# role = get_execution_role()
role = 'arn:aws:iam::579019700964:role/service-role/AmazonSageMaker-ExecutionRole-20190429T111678'

# 数据加载

本次使用的数据已经提前下载到notebook实例的本地目录，我们使用pandas将数据读入内存中进行预处理，之所以这么做的原因是数据量不大。如果需要处理的数据量巨大，应该使用诸如Amazon EMR、Amazon Athena或者Amazon Redshift等服务来做预处理。在数据预处理完成后，我们将把数据上传到S3对应的存储桶中供Sagemaker训练使用。

In [3]:
import numpy as np                                
import pandas as pd                               
import matplotlib.pyplot as plt   
from IPython.display import Image                 
from IPython.display import display               
from sklearn.datasets import dump_svmlight_file   
from time import gmtime, strftime                 
import sys                                        
import math                                       
import json
import boto3

In [4]:
data = pd.read_csv('./data/knn_fm-adult.csv') 
data.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income_cat
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

# 数据预处理

原始的CSV文件中，每个字符类型字段的值都带有空格这一类的不可见字符，这里统一去掉。

In [5]:
data['workclass'] = data['workclass'].apply(lambda workclass: workclass.strip())
data['education'] = data['education'].apply(lambda education: education.strip())
data['marital_status'] = data['marital_status'].apply(lambda marital_status: marital_status.strip())
data['occupation'] = data['occupation'].apply(lambda occupation: occupation.strip())
data['relationship'] = data['relationship'].apply(lambda relationship: relationship.strip())
data['race'] = data['race'].apply(lambda race: race.strip())
data['sex'] = data['sex'].apply(lambda sex: sex.strip())
data['native_country'] = data['native_country'].apply(lambda native_country: native_country.strip())
data['income_cat'] = data['income_cat'].apply(lambda income_cat: income_cat.strip())

检查数据特征中存在多少空值，可以发现没有空值存在，不需要特别处理。有空值存在的情况下，通常直接丢弃或者采用平均值等进行插值操作。

In [6]:
data.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income_cat        0
dtype: int64

通常我们会观察下样本在目标分类特征上的分布情况，以获得较好的分类模型。

处理目标特征，将‘<= 50K’以及‘>50K'转换为0和1这样模型好处理的数值类型

In [7]:
data['y'] = (data['income_cat'].isin(['>50K']))
data.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income_cat,y
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,False
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,False
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,False
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,False
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,False

In [8]:
data['y'] = data['y'].apply(lambda y: 1 if y == True else 0)
data = data.drop(['income_cat'], axis=1)

同理使用one hot encode对其他的字符类型特征进行处理

In [9]:
model_data = pd.get_dummies(data)
model_data.head()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,y,workclass_?,workclass_Federal-gov,workclass_Local-gov,...,native_country_Portugal,native_country_Puerto-Rico,native_country_Scotland,native_country_South,native_country_Taiwan,native_country_Thailand,native_country_Trinadad&Tobago,native_country_United-States,native_country_Vietnam,native_country_Yugoslavia
0,39,77516,13,2174,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,50,83311,13,0,0,13,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,38,215646,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,53,234721,7,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,28,338409,13,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Sagemaker FM算法接受train和test两个通道数据，这里将原数据集按照1:9的比例随机地分为train和test两个数据集合。

In [10]:
train_data, test_data = np.split(model_data.sample(frac=1, random_state=1729), [int(0.9 * len(model_data))])

In [11]:
len(train_data.index)
len(model_data.index)

32561

# 数据上传

因为Sagemaker FM算法只能接受包含精度为Float32张量的 recordIO-protobuf 格式文件，所以需要做数据格式的转换，转换后将train和test数据集合上传到对应的S3桶中。

In [12]:
import io
import numpy as np
import sagemaker.amazon.common as smac
train_labels = np.array(train_data['y']).astype('float32')
train_vectors = np.array(train_data.drop(['y'], axis=1)).astype('float32')
train_buf = io.BytesIO()
smac.write_numpy_to_dense_tensor(train_buf, train_vectors, train_labels)
train_buf.seek(0)

0

In [13]:
test_labels = np.array(test_data['y']).astype('float32')
test_vectors = np.array(test_data.drop(['y'], axis=1)).astype('float32')
test_buf = io.BytesIO()
smac.write_numpy_to_dense_tensor(test_buf, test_vectors, test_labels)
test_buf.seek(0)

0

In [14]:
import boto3
import os

key = 'recordio-pb-data-train'
boto3.resource('s3').Bucket(bucket).Object(os.path.join(prefix, 'train', key)).upload_fileobj(train_buf)
s3_train_data = 's3://{}/{}/train/{}'.format(bucket, prefix, key)
print('uploaded training data location: {}'.format(s3_train_data))

uploaded training data location: s3://gcr-sm-workshop-henanwan/sagemaker/DEMO-knn-income/train/recordio-pb-data-train

In [15]:
key = 'recordio-pb-data-test'
boto3.resource('s3').Bucket(bucket).Object(os.path.join(prefix, 'test', key)).upload_fileobj(test_buf)
s3_test_data = 's3://{}/{}/test/{}'.format(bucket, prefix, key)
print('uploaded test data location: {}'.format(s3_test_data))

uploaded test data location: s3://gcr-sm-workshop-henanwan/sagemaker/DEMO-knn-income/test/recordio-pb-data-test

In [16]:
output_location = 's3://{}/{}/output'.format(bucket, prefix)
print('training artifacts will be uploaded to: {}'.format(output_location))

training artifacts will be uploaded to: s3://gcr-sm-workshop-henanwan/sagemaker/DEMO-knn-income/output

# 模型训练

我们对数据进行预处理并以正确的格式存储在了S3桶中，下一步就是使用数据实际来训练模型。由于这个数据相对较小，所以它的运行结果并不能展现Sagemaker内置算法过人的性能，但是官方在上TB数据的训练集合上得到了较好的结果。

我们将使用Amazon SageMaker Python SDK启动模型训练，并通过日志输出监控整个训练过程，直到完成为止。在本例中，整个训练耗时大概7分钟，但是大部分时间都是消耗在底层资源准备上，真正用于模型训练的收费时长在一分钟左右。

首先，让我们指定包含Factorization Machines算法的容器URI。关于算法容器的更多细节可以在[AWS文档](https://docs-aws.amazon.com/sagemaker/latest/dg/sagemaker-algo-docker-registration-paths.html)中找到。

In [17]:
from sagemaker.amazon.amazon_estimator import get_image_uri
container = get_image_uri(boto3.Session().region_name, 'knn')

In [18]:
import boto3
import sagemaker

sess = sagemaker.Session()

knn = sagemaker.estimator.Estimator(container,
                                   role, 
                                   train_instance_count=1, 
                                   train_instance_type='ml.c4.xlarge',
                                   output_path=output_location,
                                   sagemaker_session=sess)
knn.set_hyperparameters(feature_dim=108,
                      predictor_type='classifier',
                      k = 20,
                      sample_size=20000)

knn.fit({'train': s3_train_data,'test': s3_test_data})

2019-09-03 05:47:54 Starting - Starting the training job...
2019-09-03 05:48:03 Starting - Launching requested ML instances......
2019-09-03 05:49:04 Starting - Preparing the instances for training...
2019-09-03 05:50:09 Downloading - Downloading input data...
2019-09-03 05:50:54 Training - Training image download completed. Training in progress..
Docker entrypoint called with argument(s): train
[09/03/2019 05:50:56 INFO 139705366947648] Reading default configuration from /opt/amazon/lib/python2.7/site-packages/algorithm/resources/default-conf.json: {u'index_metric': u'L2', u'_tuning_objective_metric': u'', u'_num_gpus': u'auto', u'_log_level': u'info', u'faiss_index_ivf_nlists': u'auto', u'epochs': u'1', u'index_type': u'faiss.Flat', u'_faiss_index_nprobe': u'5', u'_kvstore': u'dist_async', u'_num_kv_servers': u'1', u'mini_batch_size': u'5000'}
[09/03/2019 05:50:56 INFO 139705366947648] Reading provided configuration from /opt/ml/input/config/hyperparameters.json: {u'sample_size': u'20000', u'feature_dim': u'108', u'k': u'20', u'predictor_type': u'classifier'}
[09/03/2019 05:50:56 INFO 139705366947648] Final configuration: {u'index_metric': u'L2', u'predictor_type': u'classifier', u'_tuning_objective_metric': u'', u'_num_gpus': u'auto', u'_log_level': u'info', u'feature_dim': u'108', u'faiss_index_ivf_nlists': u'auto', u'sample_size': u'20000', u'epochs': u'1', u'index_type': u'faiss.Flat', u'_faiss_index_nprobe': u'5', u'_kvstore': u'dist_async', u'_num_kv_servers': u'1', u'mini_batch_size': u'5000', u'k': u'20'}
[09/03/2019 05:50:56 WARNING 139705366947648] Loggers have already been setup.
[09/03/2019 05:50:56 INFO 139705366947648] Launching parameter server for role scheduler
[09/03/2019 05:50:56 INFO 139705366947648] {'ECS_CONTAINER_METADATA_URI': 'http://169.254.170.2/v3/66e4e2fe-7f45-4957-8313-e02c37b1fad4', 'PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION_VERSION': '2', 'PATH': '/opt/amazon/bin:/usr/local/nvidia/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/opt/amazon/bin:/opt/amazon/bin', 'SAGEMAKER_HTTP_PORT': '8080', 'HOME': '/root', 'PYTHONUNBUFFERED': 'TRUE', 'CANONICAL_ENVROOT': '/opt/amazon', 'LD_LIBRARY_PATH': '/usr/local/nvidia/lib64:/opt/amazon/lib', 'LANG': 'en_US.utf8', 'DMLC_INTERFACE': 'eth0', 'SHLVL': '1', 'AWS_REGION': 'us-east-1', 'NVIDIA_VISIBLE_DEVICES': 'void', 'TRAINING_JOB_NAME': 'knn-2019-09-03-05-47-53-700', 'PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION': 'cpp', 'ENVROOT': '/opt/amazon', 'SAGEMAKER_DATA_PATH': '/opt/ml', 'NVIDIA_DRIVER_CAPABILITIES': 'compute,utility', 'NVIDIA_REQUIRE_CUDA': 'cuda>=9.0', 'OMP_NUM_THREADS': '2', 'HOSTNAME': 'ip-10-2-179-123.ec2.internal', 'AWS_CONTAINER_CREDENTIALS_RELATIVE_URI': '/v2/credentials/63685b8d-ee7c-42dc-9db4-6f369107f225', 'PWD': '/', 'TRAINING_JOB_ARN': 'arn:aws:sagemaker:us-east-1:579019700964:training-job/knn-2019-09-03-05-47-53-700', 'AWS_EXECUTION_ENV': 'AWS_ECS_EC2'}
[09/03/2019 05:50:56 INFO 139705366947648] envs={'ECS_CONTAINER_METADATA_URI': 'http://169.254.170.2/v3/66e4e2fe-7f45-4957-8313-e02c37b1fad4', 'PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION_VERSION': '2', 'DMLC_NUM_WORKER': '1', 'DMLC_PS_ROOT_PORT': '9000', 'PATH': '/opt/amazon/bin:/usr/local/nvidia/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/opt/amazon/bin:/opt/amazon/bin', 'SAGEMAKER_HTTP_PORT': '8080', 'HOME': '/root', 'PYTHONUNBUFFERED': 'TRUE', 'CANONICAL_ENVROOT': '/opt/amazon', 'LD_LIBRARY_PATH': '/usr/local/nvidia/lib64:/opt/amazon/lib', 'LANG': 'en_US.utf8', 'DMLC_INTERFACE': 'eth0', 'SHLVL': '1', 'DMLC_PS_ROOT_URI': '10.2.179.123', 'AWS_REGION': 'us-east-1', 'NVIDIA_VISIBLE_DEVICES': 'void', 'TRAINING_JOB_NAME': 'knn-2019-09-03-05-47-53-700', 'PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION': 'cpp', 'ENVROOT': '/opt/amazon', 'SAGEMAKER_DATA_PATH': '/opt/ml', 'NVIDIA_DRIVER_CAPABILITIES': 'compute,utility', 'NVIDIA_REQUIRE_CUDA': 'cuda>=9.0', 'OMP_NUM_THREADS': '2', 'HOSTNAME': 'ip-10-2-179-123.ec2.internal', 'AWS_CONTAINER_CREDENTIALS_RELATIVE_URI': '/v2/credentials/63685b8d-ee7c-42dc-9db4-6f369107f225', 'DMLC_ROLE': 'scheduler', 'PWD': '/', 'DMLC_NUM_SERVER': '1', 'TRAINING_JOB_ARN': 'arn:aws:sagemaker:us-east-1:579019700964:training-job/knn-2019-09-03-05-47-53-700', 'AWS_EXECUTION_ENV': 'AWS_ECS_EC2'}
[09/03/2019 05:50:56 INFO 139705366947648] Launching parameter server for role server
[09/03/2019 05:50:56 INFO 139705366947648] {'ECS_CONTAINER_METADATA_URI': 'http://169.254.170.2/v3/66e4e2fe-7f45-4957-8313-e02c37b1fad4', 'PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION_VERSION': '2', 'PATH': '/opt/amazon/bin:/usr/local/nvidia/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/opt/amazon/bin:/opt/amazon/bin', 'SAGEMAKER_HTTP_PORT': '8080', 'HOME': '/root', 'PYTHONUNBUFFERED': 'TRUE', 'CANONICAL_ENVROOT': '/opt/amazon', 'LD_LIBRARY_PATH': '/usr/local/nvidia/lib64:/opt/amazon/lib', 'LANG': 'en_US.utf8', 'DMLC_INTERFACE': 'eth0', 'SHLVL': '1', 'AWS_REGION': 'us-east-1', 'NVIDIA_VISIBLE_DEVICES': 'void', 'TRAINING_JOB_NAME': 'knn-2019-09-03-05-47-53-700', 'PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION': 'cpp', 'ENVROOT': '/opt/amazon', 'SAGEMAKER_DATA_PATH': '/opt/ml', 'NVIDIA_DRIVER_CAPABILITIES': 'compute,utility', 'NVIDIA_REQUIRE_CUDA': 'cuda>=9.0', 'OMP_NUM_THREADS': '2', 'HOSTNAME': 'ip-10-2-179-123.ec2.internal', 'AWS_CONTAINER_CREDENTIALS_RELATIVE_URI': '/v2/credentials/63685b8d-ee7c-42dc-9db4-6f369107f225', 'PWD': '/', 'TRAINING_JOB_ARN': 'arn:aws:sagemaker:us-east-1:579019700964:training-job/knn-2019-09-03-05-47-53-700', 'AWS_EXECUTION_ENV': 'AWS_ECS_EC2'}
[09/03/2019 05:50:56 INFO 139705366947648] envs={'ECS_CONTAINER_METADATA_URI': 'http://169.254.170.2/v3/66e4e2fe-7f45-4957-8313-e02c37b1fad4', 'PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION_VERSION': '2', 'DMLC_NUM_WORKER': '1', 'DMLC_PS_ROOT_PORT': '9000', 'PATH': '/opt/amazon/bin:/usr/local/nvidia/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/opt/amazon/bin:/opt/amazon/bin', 'SAGEMAKER_HTTP_PORT': '8080', 'HOME': '/root', 'PYTHONUNBUFFERED': 'TRUE', 'CANONICAL_ENVROOT': '/opt/amazon', 'LD_LIBRARY_PATH': '/usr/local/nvidia/lib64:/opt/amazon/lib', 'LANG': 'en_US.utf8', 'DMLC_INTERFACE': 'eth0', 'SHLVL': '1', 'DMLC_PS_ROOT_URI': '10.2.179.123', 'AWS_REGION': 'us-east-1', 'NVIDIA_VISIBLE_DEVICES': 'void', 'TRAINING_JOB_NAME': 'knn-2019-09-03-05-47-53-700', 'PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION': 'cpp', 'ENVROOT': '/opt/amazon', 'SAGEMAKER_DATA_PATH': '/opt/ml', 'NVIDIA_DRIVER_CAPABILITIES': 'compute,utility', 'NVIDIA_REQUIRE_CUDA': 'cuda>=9.0', 'OMP_NUM_THREADS': '2', 'HOSTNAME': 'ip-10-2-179-123.ec2.internal', 'AWS_CONTAINER_CREDENTIALS_RELATIVE_URI': '/v2/credentials/63685b8d-ee7c-42dc-9db4-6f369107f225', 'DMLC_ROLE': 'server', 'PWD': '/', 'DMLC_NUM_SERVER': '1', 'TRAINING_JOB_ARN': 'arn:aws:sagemaker:us-east-1:579019700964:training-job/knn-2019-09-03-05-47-53-700', 'AWS_EXECUTION_ENV': 'AWS_ECS_EC2'}
[09/03/2019 05:50:56 INFO 139705366947648] Environment: {'ECS_CONTAINER_METADATA_URI': 'http://169.254.170.2/v3/66e4e2fe-7f45-4957-8313-e02c37b1fad4', 'PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION_VERSION': '2', 'DMLC_PS_ROOT_PORT': '9000', 'DMLC_NUM_WORKER': '1', 'SAGEMAKER_HTTP_PORT': '8080', 'PATH': '/opt/amazon/bin:/usr/local/nvidia/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/opt/amazon/bin:/opt/amazon/bin', 'PYTHONUNBUFFERED': 'TRUE', 'CANONICAL_ENVROOT': '/opt/amazon', 'LD_LIBRARY_PATH': '/usr/local/nvidia/lib64:/opt/amazon/lib', 'LANG': 'en_US.utf8', 'DMLC_INTERFACE': 'eth0', 'SHLVL': '1', 'DMLC_PS_ROOT_URI': '10.2.179.123', 'AWS_REGION': 'us-east-1', 'NVIDIA_VISIBLE_DEVICES': 'void', 'TRAINING_JOB_NAME': 'knn-2019-09-03-05-47-53-700', 'HOME': '/root', 'PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION': 'cpp', 'ENVROOT': '/opt/amazon', 'SAGEMAKER_DATA_PATH': '/opt/ml', 'NVIDIA_DRIVER_CAPABILITIES': 'compute,utility', 'NVIDIA_REQUIRE_CUDA': 'cuda>=9.0', 'OMP_NUM_THREADS': '2', 'HOSTNAME': 'ip-10-2-179-123.ec2.internal', 'AWS_CONTAINER_CREDENTIALS_RELATIVE_URI': '/v2/credentials/63685b8d-ee7c-42dc-9db4-6f369107f225', 'DMLC_ROLE': 'worker', 'PWD': '/', 'DMLC_NUM_SERVER': '1', 'TRAINING_JOB_ARN': 'arn:aws:sagemaker:us-east-1:579019700964:training-job/knn-2019-09-03-05-47-53-700', 'AWS_EXECUTION_ENV': 'AWS_ECS_EC2'}
Process 33 is a shell:scheduler.
Process 34 is a shell:server.
Process 1 is a worker.
[09/03/2019 05:50:56 INFO 139705366947648] Using default worker.
[2019-09-03 05:50:56.856] [tensorio] [info] batch={"data_pipeline": "/opt/ml/input/data/train", "num_examples": 5000, "features": [{"name": "label_values", "shape": [1], "storage_type": "dense"}, {"name": "values", "shape": [108], "storage_type": "dense"}]}
[2019-09-03 05:50:56.892] [tensorio] [warning] TensorIO is already initialized; ignoring the initialization routine.
[2019-09-03 05:50:56.902] [tensorio] [info] batch={"data_pipeline": "/opt/ml/input/data/test", "num_examples": 5000, "features": [{"name": "label_values", "shape": [1], "storage_type": "dense"}, {"name": "values", "shape": [108], "storage_type": "dense"}]}
[09/03/2019 05:50:57 INFO 139705366947648] nvidia-smi took: 0.0256938934326 secs to identify 0 gpus
[09/03/2019 05:50:57 INFO 139705366947648] Create Store: dist_async
[09/03/2019 05:50:57 ERROR 139705366947648] nvidia-smi: failed to run (127): /bin/sh: nvidia-smi: command not found
[09/03/2019 05:50:57 INFO 139705366947648] Using per-worker sample size = 20000 (Available virtual memory = 6379016192 bytes, GPU free memory = 0 bytes, number of workers = 1). If an out-of-memory error occurs, choose a larger instance type, use dimension reduction, decrease sample_size, and/or decrease mini_batch_size.
#metrics {"Metrics": {"Max Batches Seen Between Resets": {"count": 1, "max": 0, "sum": 0.0, "min": 0}, "Number of Batches Since Last Reset": {"count": 1, "max": 0, "sum": 0.0, "min": 0}, "Number of Records Since Last Reset": {"count": 1, "max": 0, "sum": 0.0, "min": 0}, "Total Batches Seen": {"count": 1, "max": 0, "sum": 0.0, "min": 0}, "Total Records Seen": {"count": 1, "max": 0, "sum": 0.0, "min": 0}, "Max Records Seen Between Resets": {"count": 1, "max": 0, "sum": 0.0, "min": 0}, "Reset Count": {"count": 1, "max": 0, "sum": 0.0, "min": 0}}, "EndTime": 1567489857.676775, "Dimensions": {"Host": "algo-1", "Meta": "init_train_data_iter", "Operation": "training", "Algorithm": "AWS/KNN"}, "StartTime": 1567489857.676729}

[2019-09-03 05:50:57.677] [tensorio] [info] data_pipeline_stats={"name": "/opt/ml/input/data/train", "epoch": 0, "duration": 833, "num_examples": 1}
[09/03/2019 05:50:57 INFO 139705366947648] push reservoir to kv... 1 num_workers 0 rank
[09/03/2019 05:50:57 INFO 139705366947648] ...done (20000)
[09/03/2019 05:50:57 INFO 139705366947648] #progress_metric: host=algo-1, completed 100 % of epochs
#metrics {"Metrics": {"Max Batches Seen Between Resets": {"count": 1, "max": 6, "sum": 6.0, "min": 6}, "Number of Batches Since Last Reset": {"count": 1, "max": 6, "sum": 6.0, "min": 6}, "Number of Records Since Last Reset": {"count": 1, "max": 29304, "sum": 29304.0, "min": 29304}, "Total Batches Seen": {"count": 1, "max": 6, "sum": 6.0, "min": 6}, "Total Records Seen": {"count": 1, "max": 29304, "sum": 29304.0, "min": 29304}, "Max Records Seen Between Resets": {"count": 1, "max": 29304, "sum": 29304.0, "min": 29304}, "Reset Count": {"count": 1, "max": 1, "sum": 1.0, "min": 1}}, "EndTime": 1567489857.818632, "Dimensions": {"Host": "algo-1", "Meta": "training_data_iter", "Operation": "training", "Algorithm": "AWS/KNN", "epoch": 0}, "StartTime": 1567489857.677782}

[09/03/2019 05:50:57 INFO 139705366947648] #throughput_metric: host=algo-1, train throughput=207455.797942 records/second
[09/03/2019 05:50:57 INFO 139705366947648] pulled row count... worker 0 rows 20000
[09/03/2019 05:50:57 INFO 139705366947648] pulled... worker 0 data (20000, 108) labels (20000, 1) nans 0
[09/03/2019 05:50:57 INFO 139705366947648] calling index.train...
[09/03/2019 05:50:57 INFO 139705366947648] ...done calling index.train
[09/03/2019 05:50:57 INFO 139705366947648] calling index.add...
[09/03/2019 05:50:57 INFO 139705366947648] ...done calling index.add
#metrics {"Metrics": {"epochs": {"count": 1, "max": 1, "sum": 1.0, "min": 1}, "model.serialize.time": {"count": 1, "max": 8.398056030273438, "sum": 8.398056030273438, "min": 8.398056030273438}, "finalize.time": {"count": 1, "max": 45.49598693847656, "sum": 45.49598693847656, "min": 45.49598693847656}, "initialize.time": {"count": 1, "max": 739.2580509185791, "sum": 739.2580509185791, "min": 739.2580509185791}, "update.time": {"count": 1, "max": 140.34199714660645, "sum": 140.34199714660645, "min": 140.34199714660645}}, "EndTime": 1567489857.873245, "Dimensions": {"Host": "algo-1", "Operation": "training", "Algorithm": "AWS/KNN"}, "StartTime": 1567489856.84088}

#metrics {"Metrics": {"Max Batches Seen Between Resets": {"count": 1, "max": 1, "sum": 1.0, "min": 1}, "Number of Batches Since Last Reset": {"count": 1, "max": 1, "sum": 1.0, "min": 1}, "Number of Records Since Last Reset": {"count": 1, "max": 3257, "sum": 3257.0, "min": 3257}, "Total Batches Seen": {"count": 1, "max": 1, "sum": 1.0, "min": 1}, "Total Records Seen": {"count": 1, "max": 3257, "sum": 3257.0, "min": 3257}, "Max Records Seen Between Resets": {"count": 1, "max": 3257, "sum": 3257.0, "min": 3257}, "Reset Count": {"count": 1, "max": 0, "sum": 0.0, "min": 0}}, "EndTime": 1567489858.092193, "Dimensions": {"Host": "algo-1", "Meta": "test_data_iter", "Operation": "training", "Algorithm": "AWS/KNN"}, "StartTime": 1567489857.874027}

[09/03/2019 05:50:58 INFO 139705366947648] #test_score (algo-1) : ('accuracy', 0.79797359533312862)
[09/03/2019 05:50:58 INFO 139705366947648] #quality_metric: host=algo-1, test accuracy <score>=0.797973595333
[2019-09-03 05:50:58.092] [tensorio] [info] data_pipeline_stats={"name": "/opt/ml/input/data/train", "epoch": 1, "duration": 414, "num_examples": 6}
[2019-09-03 05:50:58.092] [tensorio] [info] data_pipeline_stats={"name": "/opt/ml/input/data/train", "duration": 1247, "num_epochs": 2, "num_examples": 7}
[2019-09-03 05:50:58.093] [tensorio] [info] data_pipeline_stats={"name": "/opt/ml/input/data/test", "epoch": 0, "duration": 1200, "num_examples": 1}
[2019-09-03 05:50:58.093] [tensorio] [info] data_pipeline_stats={"name": "/opt/ml/input/data/test", "duration": 1200, "num_epochs": 1, "num_examples": 1}
#metrics {"Metrics": {"totaltime": {"count": 1, "max": 1529.735803604126, "sum": 1529.735803604126, "min": 1529.735803604126}, "setuptime": {"count": 1, "max": 17.93193817138672, "sum": 17.93193817138672, "min": 17.93193817138672}}, "EndTime": 1567489858.093831, "Dimensions": {"Host": "algo-1", "Operation": "training", "Algorithm": "AWS/KNN"}, "StartTime": 1567489857.873372}

2019-09-03 05:51:07 Uploading - Uploading generated training model
2019-09-03 05:51:07 Completed - Training job completed
Billable seconds: 59

In [19]:
knn_predictor = knn.deploy(initial_instance_count=1,
                         instance_type='ml.m4.xlarge')

---------------------------------------------------------------------------------------------!

# 模型推理

使用application/json作为推理请求的content_type，但是为了不必填充很多无意义的空值（虽然本次练习中没有空值数据，但是FM算法的常用场景中空值是普遍存在的），实现了新的序列化函数，直接取张量的一行，然后输出为json格式。

In [21]:
import json
from sagemaker.predictor import json_deserializer

def knn_serializer(data):
    js = {'instances': []}
    for row in data:
        js['instances'].append({'features': row.tolist()})
    return json.dumps(js)

knn_predictor.content_type = 'application/json'
knn_predictor.serializer = knn_serializer
knn_predictor.deserializer = json_deserializer

In [22]:
result = knn_predictor.predict(test_vectors)
#print(result)
predictions = []
predictions += [r['predicted_label'] for r in result['predictions']]
predictions = np.array(predictions)
print(predictions)

[0. 0. 0. ... 0. 0. 0.]

# 性能评估

输出混淆矩阵,其中行代表真实值，列代表预测值。可以看出结果和日志输出的模型在测试数据集合上的表现一致。

In [23]:
pd.crosstab(test_labels, predictions, rownames=['actuals'], colnames=['predictions'])

predictions   0.0  1.0
actuals
0.0          2431   28
1.0           630  168

# 资源回收

删除相关模型推理的终端节点

In [26]:
import sagemaker

sagemaker.Session().delete_endpoint(knn_predictor.endpoint)